$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html {
	font-family: "HelveticaNeue-Medium";
	font-size: 20px;
}
body {
	background-image: url(http://freeseamlesstextures.com/images/30-brown-corkboard-background-sml.jpg);
	background-color: $base3;
	margin-top: 4%;
}

section {
	background-image: url(http://fc07.deviantart.net/fs71/i/2013/169/f/c/yellow_lined_paper_by_andie200-d69jqez.png);
	padding: 7%;
	margin: 5px;
}

h3 {
	text-align: right;
}

header {
	font-size: 200px;
	text-align: center;
	color: white;
	

	h1 {
		margin-top: 2%;
		text-shadow: 2px 2px gray;
	}

	a {
		font-size: medium;
		float: right;
		padding: 2%;
		display: inline-block;
		text-decoration: none;
		color: white;
		text-shadow: 2px 2px gray;
	}
	a:visited {
    color: white;
	}

	a:hover {
    color: white;
	}
}

table {
    width: 100%;
    text-align: justify;
}

tr {
    height: 50px;
}

