// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

article {
	font-family: Helvetica-Neue, sans-serif;
	padding: 5%;
	margin: 5%;
}

h2 {
	font-weight: bold;
	font-size: large;

}

h3 {
	display: inline-block;
}

section {
	background-color: #FCF0AD;
	padding: 10px;
	box-shadow: 3px 3px 2px #FCF0AD;
	border-radius: 5px;
}


	a {
		font-size: medium;
		float: right;
		padding-right: 2%;
		display: inline-block;
		text-decoration: none;
		color: black;
		text-shadow: 1px 1px gray;
	}
	a:visited {
    color: yellow;
	}

	a:hover {
    color: white;
	}

.whoop {
	text-decoration: none;
	text-align: right;
}